.app-title
  padding-top: 1rem
  font-size: 2rem
  text-align: center

.app-input
  width: 100%
  min-height: 200px
  max-height: 500px
  padding: 5px
  border: 1px solid $color-dark-m
  border-radius: $border-radius
  font-size: 1.5rem
  resize: vertical

.app-legend
  margin: 1rem 0
  text-align: center
  color: $color-dark-l

  p
    margin: 0
